<ion-view view-title="Control">
  <ion-content>
    <div class="btn-group">
      <div>
        <button class="button button-positive ion-arrow-up-a forward-btn " on-hold="moveTo('forward')" on-release = "stop()">
        </button>
      </div>
      <div>
        <button class="button button-positive right-btn ion-arrow-right-a" on-hold="moveTo('turn_right')" on-release = "stop()">
        </button>
        <button class="button button-positive left-btn ion-arrow-left-a" on-hold="moveTo('turn_left')" on-release = "stop()">
        </button>
      </div>
      <div>
        <button class="button button-positive bottom-btn ion-arrow-down-a" on-hold="moveTo('reverse')" on-release = "stop()">
        </button>
      </div>
    </div>

  </ion-content>
</ion-view>
