/* Empty. Add your own CSS if you like */
.scroll {
  height: 100%;
  width: 100%;
}

.btn-group {
  position: relative;
  top:20%;
  left:5%;
}
.forward-btn {
  position: absolute;
  top:0px;
  left:150px;
}

.bottom-btn {
  position: absolute;
  left:150px;
  top:120px;
}

.left-btn {
  position: absolute;
  top:60px;
  left:100px;

}

.right-btn {
  position: absolute;
  top:60px;
  left:200px;
}
