/* Empty. Add your own CSS if you like */
.scroll {
  height: 100%;
  width: 100%;
}
.vid {
  position: fixed;

  top: 50%;

  left: 50%;

  min-width: 100%;

  min-height: 100%;

  width: auto;

  height: auto;

  z-index: -100;

  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);

  transform: translateX(-50%) translateY(-50%);

  background-size: cover;
}
.btn-group {
  position: absolute;
  bottom:180px;
  right:250px;
}
.forward-btn {
  position: absolute;
  top:0px;
  left:150px;
}

.bottom-btn {
  position: absolute;
  left:150px;
  top:120px;
}

.left-btn {
  position: absolute;
  top:60px;
  left:100px;

}

.right-btn {
  position: absolute;
  top:60px;
  left:200px;
}
